## Author
    Donovan

# Data Science Tools and Ecosystem

    This notebook will contain a summary of data science tools and the ecosystem

Objectives
* Popular DS Languages
* Commonly Used Libraries
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|---|
|1. JupyterLab|
|2. RStudio|
|3. Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [8]:
(3*4)+5

17

*this will convert any number of minutes into hours*

In [22]:
time_minute = int(input("Enter # of minutes: "))
hour = time_minute/60
print (hour)

<class 'TypeError'>: int() argument must be a string, a bytes-like object or a real number, not 'PyodideFuture'

Enter # of minutes:  200

The above code runs into a type error with the pyodide kernel. I troubleshooted by running the same code in google Colab and it executes perfectly. I will attach a demonstration of the code in colab along with the screenshots in this notebook. Below will be a simple arithmetic expression dividing 200 by 60 to satisfy the project requirements

In [25]:
print( 200/60, "hours")

3.3333333333333335 hours